img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
}

footer {
  background-color: #2f303a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .container.services {
    display: none;
  }
}

.section {
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.section-title {
  display: block;
  margin: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  margin: 0px;
  margin-bottom: 10px;
}

.text {
  margin: 0px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.navigation .link.current {
  color: #2196f3;
}

.item.studio {
  position: relative;
}

.link.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 47px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.item.portfolio {
  position: relative;
}

.link.current.portfolio::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 77px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav {
  margin-left: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item.studio {
  margin-right: 45px;
}

.site-nav .item.portfolio {
  margin-right: 50px;
}

.contact-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.contact-nav .item.mail {
  margin-right: 30px;
}

.mail-icon {
  width: 16px;
  height: 11px;
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  width: 10px;
  height: 15px;
  fill: currentColor;
  margin-right: 10px;
}

.contact-nav .link {
  color: #757575;
  text-decoration: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */