.section-title {
  &.clients {
    margin-bottom: 15px;
    text-align: center;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.client-list {
  & .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.client-image {
  display: flex;
  //   width: px;
  height: 90px;
  color: $social-color;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid $social-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-image {
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client-icon {
  fill: currentColor;
}
